@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ******** OVERALL LAYOUT ******** */
body{
    font-family: 'Roboto', sans-serif;
}

.body-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: minmax(100px, 170px) 2fr;
}

.sidebar-container{
    background-color: red;
}

.content-container{
    display: flex;
    flex-direction: column;
}

.header{
    height: 20vh;
    background-color: blue;
}

/* ******** SIDEBAR ******** */
.sidebar{
    background-color: rgb(27,27,27);
    height: 100vh;
}

.logo {
    color: white;
    font-family: 'Lobster', cursive;
    padding: 10px 0 30px 10px;
}

.links-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
}

.links-1 a{
    color: white;
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-1 a:hover{
    color: rgb(230, 230, 230);
}

.links-2 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;

}

.links-2 a{
    color: white;
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-2 a:hover{
    color: rgb(230, 230, 230);
}

/* ******** HEADER LAYOUT ******** */

.header{
    background-color: rgb(35,35,35);
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    padding-left: 10px;
}

.search{
    display: flex;
    align-items: center;
    gap: 5px;
}

#search-bar{
    background: #f5f5f5;
    outline: none;
    border: none;
    width: 75%;
    border-radius: 1.625rem;
    padding: 0.1rem 3.5rem 0.1rem 1.5rem;
}

.account-icons{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 13px;
}

#notification-bell, #profile-icon, #profile-name{
    cursor: pointer;
}

#profile-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#profile-name{
    font-weight: bold;
}

#profile-name:hover{
    color: rgb(223, 223, 223);
}

.greeting{
    display: flex;
    align-items: center;
    gap: 10px;
}

#profile-icon-greeting{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#line-1 {
    font-size: 10px;
}

#line-1, #line-2 {
    font-weight: bold;
}

.header-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons button{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .4) 0 2px 4px 0;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  outline: 0;
  padding: 5px 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header-buttons button:hover{
    background-color: #119849;
}